{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
        <!-- Portfolio-->
        {% if films %}
        <div class="mt-5" id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    {% for i in films %}
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/CinemaRevs/assets/img/catalog/films.jpg" title="Sup Fool">
                            <img class="img-fluid" src="../static/CinemaRevs/assets/img/catalog/films.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-name">{{ i.titulo }}</div>
                                <div class="project-category text-white-50">{{ i.año }}</div>
                                <div class="project-category text-white-50">{{ i.duracion }} mins</div>
                                <div class="project-category text-white-50">{{ i.genero }}</div>
                                <div class="project-category text-white-50">{{ i.sinopsis }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
{% endblock  %}