{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
<div class="container" style="margin-top: 80px;">
  
  <h1>Search a Review</h1>
  <form style="margin-top: 40px;" action="" method="get">
      <input type="text" placeholder="Film title" name="film" id="film">
      <button class="btn btn-primary btn-sm rounded-pill" id="submitButton" type="submit">Search</button>
    </form>

{% if found %}
  <h4 class="mt-5">Results:</h4>
    {% for review in found %}
                <div class="card mb-3 mx-2 col-md-4" style="max-width: 600px;">
                    <div class="row g-0">
                        {% if review.image %}
                        <div class="col-md-4">
                            <a href={% url 'ReviewsDetail' review.id %} style="color: black; text-decoration:none"><img src='{{review.image.url}}' class="img-fluid rounded-start" alt="..."></a>
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <a href={% url 'ReviewsDetail' review.id %} style="color: black; text-decoration:none"><img src='' alt="IMG" class="img-fluid rounded-start" alt="..."></a>
                        </div>
                        {% endif %}
                        <div class="col-md-8">
                                <a href={% url 'ReviewsDetail' review.id %} style="color: black; text-decoration:none">
                                <div class="card-body">
                                        <small class="text-muted">{{ review.film }}</small>
                                        <h3 class="card-title">{{ review.title }}</h3>
                                        <h6 class="card-subtitle">by: {{ review.author }}</h6>
                                        <p class="card-text"><small class="text-muted">{{ review.date }}</small></p>
                                </div>
                                {% if user.is_authenticated and user == review.author or user.is_superuser %}
                                <div class="container">
                                    <a href={% url 'ReviewsUpdate' review.id %}><button class="btn btn-success btn-sm mb-2 rounded-pill" style="color: white;">Edit</button></a>
                                    <a href={% url 'ReviewsDelete' review.id %}><button class="btn btn-secondary btn-sm mb-2 rounded-pill">Delete</button></a>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
    {% endfor %}

{% else %}
    <p style="margin-top: 30px;">{{respuesta}}</p>
{% endif %}

</div>

{% endblock  %}