{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}

<div class="container mb-5" style="margin-top: 120px;">
    <h1 class="mb-4">Add a Review</h1>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    
        {{form.as_p}}
        <button class="btn btn-primary rounded-pill" id="submitButton" type="submit">Submit</button>
        <a href={% url 'ReviewsList' %}>
            <button class="btn btn-secondary rounded-pill" type="button" >Cancel</button>
        </a>
    </form>
</div>

{% endblock codigoDinamico %}